

.dashboardIcons {
  width:auto;  
  overflow-x:hidden;
  overflow-y:hidden;
}
.logo
{
    height: 30px;
}

.dashIcon {
  float:left;
  padding-left:4px;
  width:30%;
  border: solid 1px #CCCCCC;	
  background-color:#F9F9F9;
  padding-top:8px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom:10px;
  text-align:center;
  
}
.dashIconText{
	padding-top:5px;
	padding-bottom:10px;
	
}
div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:1px solid #ddd;
    padding-left:2.5em;
    
}

div.flash-error
{
	color:#8a1f11;
	border-color:#FBC2C4;
    background: url(../images/exclamation.png) left center no-repeat #FBE3E4;
    background-position: 10px 10px;
    
}

div.flash-notice
{
	color:#514721;
	border-color:#FFD324;
    background: url(../images/information.png) left center no-repeat #FFF6BF;
    background-position: 10px 10px;
}

div.flash-success
{
    color:#264409;
    border-color:#C6D880;
    background: url(../images/tick.png) left center no-repeat #E6EFC2;
    background-position: 10px 10px;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}
div.flash-success a
{
	color:#264409;
}
.ticket {
    color: #FFD324;
    width: 40px;
    background-image: url("../img/tickets.png");
    background-size: 40px 100%   ;
    background-repeat: no-repeat;
    //background-size: cover;
    padding-top: 20px;
    float:right;
   
  
}
.ticket a{
    
    -moz-border-radius: 0 100% / 0 100%;
    -webkit-border-radius: 0 100% / 0 100%;
     border-radius: 0 40% / 0 100%;
     //border: 3px solid #555;
     color: #ffffff;
     background: #0C72B4;
     text-align: center;
     font-size: 20px ;
     //border-color: #F3812C;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
     box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.ticket div{
    margin-top: 6px;
    margin-left: 60%;
}
.triangle-isosceles.left {
    
  position: relative;
  padding: 15px;
  width: 90%;
  margin: 1em 0em 3em;
  margin-left: 3em;
  color: #fff;
  background: #f3961c;
  border-radius: 10px;
  background: #b5bdc8; /* Old browsers */
background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* IE10+ */
background: linear-gradient( bottom,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/* creates triangle */
.triangle-isosceles.left:after {
  content: "";
  //display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  top:16px; /* controls vertical position */
  left: -40px; /* value = - border-left-width - border-right-width */
  border-width:0 0 10px 40px;
  border-style: solid;
  border-color: #b5bdc8 transparent;
}
.triangle-isosceles.right {
  position: relative;
  padding: 15px;
  width: 90%;
  margin: 1em 0em 3em -1em;
  color: #fff;
  border-radius: 10px;
  border-color: #CCCCCC;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);


}
.triangle-isosceles.right:after {
  content: "";
  //display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  top:16px; /* controls vertical position */
  right: -40px; /* value = - border-left-width - border-right-width */
  border-width: 0 40px 10px 10px;
  border-style: solid;
  border-color: rgb(76,76,76) transparent;
  
}
.datep{
    padding-right: 1%;
    margin-left: auto;
    color: #f9d835;
    font-size: 12px;
}
.ui-widget-header{
        background: #000 url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
            color: #fff;
    background-color: #000;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;

}

