

.dashboardIcons {
  width:auto;  
  overflow-x:hidden;
  overflow-y:hidden;
}
#logo{

	margin: 0;
	padding: 0;
	background-image: url( '../img/smt.jpg' );
	background-repeat: no-repeat;
	height: 125px;

}
.dashIcon {
  float:left;
  padding-left:4px;
  width:30%;
  border: solid 1px #CCCCCC;	
  background-color:#F9F9F9;
  padding-top:8px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom:10px;
  text-align:center;
  
}
.dashIconText{
	padding-top:5px;
	padding-bottom:10px;
	
}
div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:1px solid #ddd;
    padding-left:2.5em;
    
}

div.flash-error
{
	color:#8a1f11;
	border-color:#FBC2C4;
    background: url(../images/exclamation.png) left center no-repeat #FBE3E4;
    background-position: 10px 10px;
    
}

div.flash-notice
{
	color:#514721;
	border-color:#FFD324;
    background: url(../images/information.png) left center no-repeat #FFF6BF;
    background-position: 10px 10px;
}

div.flash-success
{
	color:#264409;
	border-color:#C6D880;
    background: url(../images/tick.png) left center no-repeat #E6EFC2;
    background-position: 10px 10px;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}
div.flash-success a
{
	color:#264409;
}